.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .status {
    padding-block-end: 2rem;
    .info { font: 400 var(--pd) var(--fnt-abel) }
  }

  .grid {
    --gap: .125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
  }
}