.game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: .2rem;
  height: var(--svh);

  .header {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .heading {
      font: 500 calc(var(--fnt-sz) * 2.5) var(--fnt-play);
      text-transform: capitalize;
    }
  }

  .game--board,
  .game--list { grid-row: 2; }

  .game--board { grid-column: 1; }

  .game--list {
    grid-column: 2;
    width: 18rem;
    height: 16rem;
    overflow: auto;
    .jump {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12em;
      height: 2rem;
      padding: var(--pd);
      margin: .2rem 0;
      font: 400 1.125rem var(--fnt-abel);
      background-color: hsl(15.92deg 76.59% 34.86%);
      color: var(--font-color);
      border-radius: .25rem;
      letter-spacing: .05rem;
    }
  }
}


@media screen and (max-width: 930px){
  .game {
    grid-template-columns: 1fr;

    .game--list {
      grid-column: 1;
      grid-row: 3;
      width: clamp(30vmin, 7vmin, 18rem);
      height: 9rem;
      .jump {
        width: clamp(8rem, 6vmin, 12vmin);
        padding: 1rem;
        font-size: clamp(2vmin, 5vmin, .65rem);
      }
    }
  }
}